.locations {
  width: 100%;
  height: 70vh;
  // @include MFD;
  @include FC;
  margin: 2% 0;
  .heading {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    border-bottom: 1px solid darken(white, 30%);
  }
  .btn-primary{
    @include FR;
    width: 10%;
    margin: 0 auto;
    background-color: $main;
    height: 4%;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1% 0;
    transition: all ease-in-out 400ms;
    &:hover{
      color: $main;
      border-radius: 10px;
      background-color: white;
      border: 1px solid $main;
    }
  }
  .card {
    height: 90%;
    width: 100%;
    // @include MFD;
    @include FR;
    justify-content: start;
    gap: 2%;
    padding: 0 2%;
    overflow: auto;
    scrollbar-width: none;
  }
  .tcard {
    min-width: 25%;
    height: 80%;
    position: relative;
    @include MFD;
    .picture {
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include MFD;
      @include FR;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .about {
      @include FR;
      width: 80%;
      height: 10%;
      position: absolute;
      @include MFD;
      backdrop-filter: blur(4px);
      bottom: 7%;
      left: 50%;
      transform: translateX(-50%);
    }
    .dsc {
      display: none;
      width: 100%;
      height: 20%;
      position: absolute;
      @include MFD;
      backdrop-filter: blur(4px);
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
    &:hover {
      .about {
        display: none;
      }
      .dsc {
        @include FR;
      }
      .picture {
        transform: scale(1.032);
        img {
          transform: scale(1.4);
        }
      }
    }
  }
}
